<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test login form</title>
</head>
<body>
<h1>THIS IS NOT A SECURE SITE</h1>
<h2>CREATED PURELY FOR TESTING PURPOSES</h2>
<h1>DO NOT ENTER YOUR REAL CREDENTIALS</h1>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
<form action="/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
</body>
</html>